.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--background);
  border-radius: 0;
  margin: 15% auto; /* 15% from the top and centered */

  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */

  box-shadow: 0 0 0.3rem 0px var(--middle);

  color: var(--text);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-title {
  font-weight: bold;
}

.modal-name {
  font-weight: bold;
}

.modal-tags {
  font-size: 14px;
}

.modal-controls {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.divider {
  width: 70%;
  border: 0;

  margin: 10px 0;
  margin-inline-start: auto;
  margin-inline-end: auto;

  height: 1px;
  --corner: var(--background);
  background: linear-gradient(transparent, var(--middle));
}

.steps {
  width: auto;

  border: 1px solid var(--decoration);
  outline-color: var(--decoration);
}

.big-icon {
  font-size: 18px;
}

.add-ingredient:hover {
  color: var(--decoration);
}
