:root {
  --background: #f2f2f2;
  --text: #191919;
  --middle: #6a6a6a;
  --decoration: #4b8459;

  background-color: var(--background);
  color: var(--text);
}

.App {
  width: 100%;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  padding: 10px 0;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 1;

  box-shadow: 0 0 0.3rem 0px color-mix(in srgb, var(--background), #ccc);
}

.main {
  background-color: var(--background);
  color: white;
  width: auto;

  padding: 0 14px;

  min-height: 100vh;
  margin-top: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;

  display: flex;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .content {
    width: 80%;
  }
}

.divider {
  width: 90px;
  border: 0;

  margin: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;

  height: 1px;
  --corner: var(--background);
  background: linear-gradient(to right, var(--corner), var(--text), var(--corner));
}

.home {
  color: #c3729f;
}

button:hover .recipes,
.recipes.selected {
  color: #c2c239;
}

button:hover .ingredients,
.ingredients.selected {
  color: #ce6100;
}

/* ***************************************************************************************************** */
/* *************** Text decorations *************** */
/* ***************************************************************************************************** */

.link {
  color: var(--text);
  text-decoration: none;
}

/* ***************************************************************************************************** */
/* *************** Buttons *************** */
/* ***************************************************************************************************** */

.button {
  border: 0;
  border-radius: 5px;
  padding: 7px 10px;

  background-color: transparent;
  cursor: pointer;

  color: var(--text);
  font-family: var(--font-family);
  font-size: 16px;
}

.button:hover {
  filter: brightness(120%);
}

.button:disabled {
  background-color: #b9b9b9;
  color: #727272;
  cursor: not-allowed;
}

.button.primary:not([disabled]) {
  background-color: #00ac00;
}

.button.secondary {
  background-color: gray;
}

.button.delete {
  background-color: #9b2d2d;
}

/* ***************************************************************************************************** */
/* *************** Error *************** */
/* ***************************************************************************************************** */

.error-float {
  display: flex;
  position: fixed;
  bottom: 30px;
  width: 100%;
  justify-content: center;
}

.error-toast {
  padding: 10px 25px;
  background-color: #ca0808;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.error-clear {
  margin-top: 10px;
  color: #6f0a0a;
  font-weight: 650;
}
